<div>
  <ul class="nav-bars">

    <li><a href="/animals/ready">Animals ready for adoption</a></li>
    <li><a href="/animals/unready">Animals in training/vet care</a></li>
    <li><a href="/animals/adopted">Adopted Animals</a></li>  
    <li><a href="/animals/new">Add Animal</a></li> 

    <li><form class="search-field" method="get" action="/animals/type" />
      <label class="search-font">Select type:</label>

      <select class="search-field" name="type" id="type-selection"/>
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
    </select>

    <input type="submit" value="search"></li>
  </ul>
</div>


<main>

  <h3>All animals</h3>

  <section id="animal-list">

   <% @animals.each do |animal| %>
   <figure class="animal-with-image">
    <h4><%= animal.name.capitalize %></h4>
    <img src="<%= animal.image_url %>" alt="Photograph of <%= animal.name.capitalize %>" />
    <ul>
      <li>Admission Date: <%= animal.admission_date %> </li>
      <li><a href="/animals/<%= animal.id %>">More details</a></li>
    </ul>
  </figure>
  <% end %>

</section>
</main>