<manin>
  <section id="animal-list">

    <% @animals.each do |animal|  %>

    <figure class="animal-with-image">
     <h4><%= animal.name %></h4>
     <img src="<%= animal.image_url %>" />
     <ul>
       <li>Breed: <%= animal.breed %> </li>  
       <li>Age: <%= animal.age %> </li>
       <li>Sex: <%= animal.sex %> </li> 
       <li>Admission Date: <%= animal.admission_date %> </li> 
     </ul>
   </figure>
   <% end %>

 </section>
</manin>
