<div> <% @animals.each do |animal| %>

  <ul class="animal-with-image">
  <li id="animal-name"><%= animal.name %></li>
   <hr/>
   <li><img src="<%= animal.image_url %>" /></li>
   <hr/>
   <li>Breed: <%= animal.breed %> </li>  
   <li>Age: <%= animal.age %> </li>
   <li>Sex: <%= animal.sex %> </li> 
   <li>Admission Date: <%= animal.admission_date %> </li> 
 </ul>
 <% end %>

</div>