<h2>Animals</h2>

<div> <% @animals.each do |animal| %>
 <div>
   <h3><%= animal.name %></div></h3>
   <img src="<%= animal.image_url %>"  />
   <p>Breed: <%= animal.breed %> </p>  
   <p>Age: <%= animal.age %> years </p>
   <p>Sex: <%= animal.sex %> </p> 
 </div>

 <hr/>

 <% end %>

</div>

<p><a href="/animals/new">Add animal</a></p>