<h2>All Animals of Edinburgh Sanctuary</h2>

<h3><a href="/animals/stories">Success Stories</a></h3>

<div> <% @animals.each do |animal| %>
 <div>
   <h3><%= animal.name.capitalize %></div></h3>
   <img src="<%= animal.image_url %>"  />
   <p>Breed: <%= animal.breed.capitalize %> </p>  
   <p>Age: <%= animal.age %> </p>
   <p>Sex: <%= animal.sex %> </p> 
   <p>Admission Date: <%= animal.admission_date %> </p> 
 </div>

 <hr/>

 <% end %>

</div>

<p><a href="/animals/new">Add animal</a></p>