<div>
  <ul id="add-owner">
    <a href="/owners/new">Add Owner</a>
    <h3 id="owners-title">List of Owners</h3>
  </ul>
</div>

<div>
  <% @owners.each do |owner| if owner.name != "Edinburgh Animal Sanctuary"%>
  <ul class="owners-list">

    <li id="owner-name">Name:<%= owner.name %></li>
    <li>Animal preferences: <%= owner.preferences %></li> 
    <li>Current number of pets: <%= owner.animals.count %></li> 
  </ul>

  <ul id="edit-delete-links">

    <li><a href="/owners/<%= owner.id %>/edit" >Edit 
    </a></li>
    <li><a href="/owners/<%= owner.id %>/delete" >Delete 
    </a></li>

  </ul>
  
</div>

<% end %>
<% end %>
